<html>
    <head>
        <title>TripHub Booking</title>
        <link rel="stylesheet" href="CSS_Files/HotelManageUserBookings.css">
        <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
        <script src= "https://code.jquery.com/jquery-3.5.0.js"> </script> 
        <script src="../Node_JS_Files/Main.js"></script>
    </head>

    <script type="text/javascript">
        window.history.forward();
        function noBack()
        {
            window.history.forward();
        }
    </script>
    

    <body onLoad="noBack();" onpageshow="if (event.persisted) noBack();" onUnload="">
        <div class="nav">
            
            <div class="logoimg">
                <img class="logo" src="Home_Page_Images/Transparent Triphub Logo.png" alt="TripHub Logo"/>
            </div>
            <div class="cname">
                <a href="../HotelHomePage">TripHub</a>
            </div>

            <div class="profile">
                <a href="../HotelProfilePage">
                <img class="profileimg" src="Home_Page_Images/profileimg.png" ></a>
              </div>

            <div class="asbtn">
                <ul>
                    <a href="./HotelProfilePage"><li>Profile</li></a>
                </ul>
            </div>
            <div class="pkgbtn">
                <ul>
                    <a href="/HomePage"><li>Sign Out</li></a>
                </ul>
            </div>
            <div class="homebtn">
                <ul>
                    <a href="./HotelHomePage"><li>Home</li></a>
                </ul>
            </div>
               
            <div class="hotellist">
                <h1 class="hotellisttext">This Are Your User Bookings <%= name %></h1>
                            <div  class="hlist1" name="hlist">
                        <% if(data!='') { %>
                                <% data.forEach((hd) => { %>
                                    <% if(hd.roomno!=0) { %>
                                <ul class="databorder">
                                        <li>Customer Name: <%= hd.username %></li>
                                        <li>Payment-ID: <%= hd.paymentid %></li>
                                        <li>Booking-ID: <%= hd.bookingid %></li>
                                        <li>Hotel Name: <%= hd.name %></li>
                                        <li>Hotel Address: <%= hd.address %></li>
                                        <li>Hotel Phone No: <%= hd.phoneno %></li>
                                        <li>Room Number: <%= hd.roomno %></li>
                                        <li>Capacity: <%= hd.capacity %></li>
                                        <li>Room Type: <%= hd.roomtype %></li>
                                        <li>Price Per Night: <%= hd.pricepernight %></li>
                                        <li>Availability: <%= hd.avail %></li>
                                        <li>Payment Status: <%= hd.paymentstatus %></li>
                                        <form method="post" action="/HotelCancelUserRoom/<%= hd.username %>/<%= hd.bookingid %>/<%= hd.pricepernight %>/<%= hd.phoneno %>/<%= hd.name %>">
                                        <input type="submit" value="Cancel Booking" name="cancelroom" class="cancelroom"/></form><br>
                                    </ul>              
                                <% }}); %>
                            <% } %>
                            </div>           
         </div>
    </body>
</html>
