<html>
    <head>
        <title>TripHub Booking</title>
        <link rel="stylesheet" href="CSS_Files/HotelHomePage.css">
        <link rel="stylesheet" href="CSS_Files/MiddleButton.css">
        <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
        <script src= "https://code.jquery.com/jquery-3.5.0.js"> </script> 
        <script src="../Node_JS_Files/Main.js"></script>
    </head>

    <script type="text/javascript">
        function validateForm() {
                var a = document.forms["hpubform"]["id"].value;
                var b = document.forms["hpubform"]["no"].value;
                var c = document.forms["hpubform"]["type"].value;
                var d = document.forms["hpubform"]["cap"].value;
                var e = document.forms["hpubform"]["ppn"].value;
                var f = document.forms["hpubform"]["avail"].value;

                if (a == "") {
                alert("Field Is Blank, Please Enter Hotel ID");
                return false;
                }else if( b == "" ){
                alert("Field Is Blank, Please Enter Room Number");
                return false;
                }else if( c == "" ){
                alert("Field Is Blank, Please Enter Hotel Type");
                return false;
                }else if( d == "" ){
                alert("Field Is Blank, Please Enter Hotel Capacity");
                return false;
                }else if( e == "" ){
                alert("Field Is Blank, Please Enter Hotel Price Per Night");
                return false;
                }else if( f == "" ){
                alert("Field Is Blank, Please Enter Hotel Availablity");
                return false;
                }
          }


        window.history.forward();
        function noBack()
        {
            window.history.forward();
        }
    </script>
    

    <body onLoad="noBack();" onpageshow="if (event.persisted) noBack();" onUnload="">
        <div class="nav">
            
            <div class="logoimg">
                <img class="logo" src="/Home_Page_Images/Transparent Triphub Logo.png" alt="TripHub Logo"/>
            </div>
            <div class="cname">
                <a href="../HotelHomePage">TripHub</a>
            </div>

            <div class="profile">
                <a href="../HotelProfilePage">
                <img class="profileimg" src="Home_Page_Images/profileimg.png" ></a>
              </div>

            <div class="asbtn">
                <ul>
                    <a href="./HotelProfilePage"><li>Profile</li></a>
                </ul>
            </div>
            <div class="pkgbtn">
                <ul>
                    <a href="/HomePage"><li>Sign Out</li></a>
                </ul>
            </div>
            <div class="homebtn">
                <ul>
                    <a href="./HotelHomePage"><li>Home</li></a>
                </ul>
            </div>
            <div class="amtbtn">
                <ul>
                    <a href="/AfterLogInUserHomePage"><li>Current Amount: <%= hamount %></li></a>
                </ul>
            </div>
               

            <div class="bgimagerow">
                <div class="firstbg">
                    <br/><img class="firstbghome" src="Home_Page_Images/firstbghome.jpg" />
                </div>
                <div class="secondbg">
                    <img class="secondbghome" src="Home_Page_Images/secondbghome.jpg" /> 
                </div>
                <div class="gc"></div>
             </div>
             

             <div class="inrect">
                <div class="rect1">
                    <svg width="980" height="980" class="svg1">
                        <rect x="50" y="20" rx="20" ry="20" width="880" height="520"
                        style="fill:white;stroke:grey;stroke-width:1;opacity: 10;" />
                    </svg>


                    <div class="form1">
                        <form method="post" action="/HotelPage" id="hotelpublish" onsubmit="return validateForm()" name="hpubform">
                            <div class="text1">
                                <div class="title1">Hotel-ID:</div>
                                <input type="text" placeholder="Enter Hotel-ID"  class="hotelid" name="id"/>

                                <div class="title2">Room-No:</div>
                                <input type="text" placeholder="Enter Room-No"  class="roomno" name="no"/>

                                <div class="title3">Room Type:</div>
                                <input type="text" placeholder="Enter Room Type"  class="roomty" name="type"/>

                                <div class="title4">Room Capacity:</div>
                                <input type="text" placeholder="Enter Room Capacity"  class="cap" name="cap"/>

                                <div class="title5">Price Per Night:</div>
                                <input type="text" placeholder="Enter Price Per Night"  class="ppn" name="ppn"/>

                                <div class="title6">Availability:</div>
                                <input type="text" placeholder="Enter Availability (In Days)"  class="avail" name="avail"/>

                                <input type="submit" value="Publish Room" class="publish" id="publishh"/> 
                            </div>
                        </form>

                            <div class="verticalline"></div>

                            <div class="bggr1">
                                <img class="gri1" src="../Home_Page_Images/gri1.jpg"/>
                            </div>
                            <div class="bgimage1">
                                <img class="gri2" src="../Home_Page_Images/bgimagehotel.jpg"/>
                            </div>


                            <div>
                                <img src="../Home_Page_Images/bgimagehotel1.jpg" class="bgimghotel"/>
                            </div>


                             <div class="hotellist">
                                    <h1 class="hotellisttext">Hotel Published By <%= hid %></h1>
                                                <div  class="hlist1" name="hlist">
                                            <% if(data!='') { %>
                                                    <% data.forEach((hd) => { %>
                                                        <% if(hd.roomno!=0) { %>
                                                    <ul class="databorder">
                                                            <li>Hotel-Id: <%= hd.hotelid %></li>
                                                            <li>Hotel Name: <%= hd.name %></li>
                                                            <li>Address: <%= hd.address %></li>
                                                            <li>Room-No: <%= hd.roomno %></li>
                                                            <li>Room-Type: <%= hd.roomtype %></li>
                                                            <li>Capacity: <%= hd.capacity %></li>
                                                            <li>Price Per Night: <%= hd.pricepernight %></li>
                                                            <li>Availability: <%= hd.avail %></li>
                                                            <form method="post" action="/DeleteRoomData/<%= hd.hotelid %>/<%= hd.roomno %>">
                                                            <input type="submit" value="Delete Room" name="deleteroom" class="deleteroom"></input><br>
                                                            </form>
                                                            <form method="post" action="/HUpdatePage/<%= hd.hotelid %>/<%= hd.roomno %>">
                                                            <input type="submit" value="Update Room" name="updateeroom" class="updateroom"></input><br>
                                                            </form>
                                                        </ul>              
                                                    <% }}); %>
                                                <% } %>
                                                </div>    
                            </div>
                    </div>
                </div>
             </div>
         </div>
    </body>
</html>
